# 后端忽略文件
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# 前端忽略文件
src/5ganalysis-ui/node_modules/
src/5ganalysis-ui/dist/
src/5ganalysis-ui/.env.local
src/5ganalysis-ui/.env.*.local
src/5ganalysis-ui/npm-debug.log*
src/5ganalysis-ui/yarn-debug.log*
src/5ganalysis-ui/yarn-error.log*

# IDE相关
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 系统文件
.DS_Store
Thumbs.db

# 日志文件
logs/
*.log

# 数据库文件
*.db
*.sqlite